{%extends "main_layout.html"%}  <!--digunakan untuk memanggil isi dari main_layout.html dan digabung dengan block content pada halaman ini-->
{%block content%}               <!--merupakan content yang akan digabung (extend) dengan isi main_layout.html-->
<html>
    <head></head>
    <body>
        <!--Form Login dari getbootstrap.com-->
        <div>
            <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </body>
</html>
{%endblock%}                    <!--akhir block-->